nav {
    background-color: #fff8dc;
    margin: 0;
    }

nav ul {
        margin: 0px;
        }

header {
    height: 400px;
    background-color: rgb(244, 238, 171);
}

h1 {
    text-align: center;
    color: blue;
    padding: 12%;
    margin: 0px;
    ;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
    padding: 5px;
    margin: 5px;
}

.specialText {
    color: rgb(201, 115, 9);
}

p {
    width: 300px;
    margin-top: 30px;
}

#firstRow {
    font-size: 30px;
}